body {
    width: 400px;
    height: 600px;
    font-family: 'Lekton', sans-serif;
    margin: 0 auto;
    background-color: grey;
}

model-viewer {
    width: 100%;
    height: 160px;
    margin-top: 20px;
}

h3 {
    margin-top: -15px;
    color: white;
    font-size: 40px;
}

canvas {
    margin-top: -30px;
}

.MainContent {
    overflow-y: hidden;
    /* border-radius: 30px; */
    /* background-color: gray; */
}

.headModelContent {
    width: 200px;
    height: 200px;
    background-color: white;
    border-radius: 100%;
    margin: 10px 0 10px 0;
}


/* .canvas {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 200px;
    background-color: white;
    border-radius: 100%;
    margin: 10px 0 10px 0;
} */

#doggoContainer {
    transform-origin: 50% 50% 150px;
    transform-style: preserve-3d;
    transition: all 0.5s ease-out;
}

.lvl {
    margin-top: -10px;
}

.missionsdiv {
    margin-top: -25px;
    font-size: 15px;
    display: flex;
}

.missions {
    max-width: 350px;
    text-align: left;
}

li {
    list-style-type: none;
    color: white;
    font-weight: bold;
}

.points ul {
    margin-top: 23px;
    list-style-type: none;
    margin-right: 10px;
    max-height: 15px;
    line-height: 70%;
}

button {
    width: 346px;
    height: 48px;
    /* background: #0066FF; */
    background: white;
    border-color: gray;
    font-size: 19px;
    border-radius: 55px;
    margin-top: 20px;
}

button :hover {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: white;
}

a :hover {
    cursor: pointer;
}