* {
    overflow: hidden;
}

body {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 600px;
    font-family: 'Lekton', sans-serif;
    background-color: rgb(255, 153, 0);
}

.MainContent {
    overflow-y: hidden;
    height: 85vh;
}

.headModelContent {
    width: 200px;
    height: 200px;
    background-color: white;
    border-radius: 100%;
    margin: 10px 0 10px 0;
}


/* .canvas {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 200px;
    background-color: white;
    border-radius: 100%;
    margin: 10px 0 10px 0;
} */

#doggoContainer {
    transform-origin: 50% 50% 150px;
    transform-style: preserve-3d;
    transition: all 0.5s ease-out;
}

.lvl{
    color: white;
}

h3 {
    margin-top: -15px;
    color: Gold;
    font-size: 40px;
}

.missionsdiv {
    margin-top: -55px;
    font-size: 15px;
    display: flex;
}

.missions {
    max-width: 350px;
    text-align: left;
}

li {
    list-style-type: none;
    color: white;
    font-weight: bold;
}

.points ul{
    position: relative;
    right: 20px;
    list-style-type: none;
}

.points ul p{
   color: black;
   margin: 0;
}

button {
    width: 346px;
    height: 48px;
    background: white;
    border: 3px solid white;
    font-size: 19px;
    border-radius: 55px;
    background-color: rgb(255, 153, 0);
    color: white;
}

button :hover {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: white;
}

a :hover {
    cursor: pointer;
}