* {
    overflow: hidden;
}


body {
    width: 400px;
    height: 600px;
    font-family: 'Lekton', sans-serif;
    overflow-y: hidden;
    margin: 0 auto;
}

body img {
    margin-top: 20px;
    max-width: 300px;
}

.MainContent img {
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.MainContent input {
    margin-top: -10px;
    width: 346px;
    height: 40px;
    outline: none;
    display: table;
    border: none;
    border-bottom: 2px solid #000000;
}

.submit {
    margin-top: 20px;
    margin-bottom: 15px;
    width: 346px;
    height: 48px;
    background: #0066FF;
    color: white;
    font-size: 19px;
    border-radius: 55px;
}

.submit:hover{
    cursor: pointer;
}

body a {
    width: 235px;
    height: 80px;
    font-size: 13.7px;
    color: #0066FF;
}