* {
    overflow: hidden;
}

body {
    width: 400px;
    height: 600px;
    font-family: 'Lekton', sans-serif;
    overflow-y: hidden;
    margin: 0 auto;
    overflow: hidden;
    background-color: rgb(255, 153, 0);
}

input {
    top: 0px;
    background-color: rgb(255, 153, 0);
}

.MainContent {
    overflow-y: hidden;
    /* border-radius: 30px; */
    /* background-color: gray; */
}

.headModelContent {
    width: 200px;
    height: 200px;
    background-color: white;
    border-radius: 100%;
    margin: 10px 0 10px 0;
}

#doggoContainer {
    transform-origin: 50% 50% 150px;
    transform-style: preserve-3d;
    transition: all 0.5s ease-out;
}

.lvl {
    margin-top: 10px;
}

.MainContent {
    margin-top: 20px;
}

.url {
    height: 40px;
    width: 346px;
    outline: none;
    display: table;
    border: none;
    border-bottom: 2px solid #000000;
}

button {
    width: 346px;
    height: 48px;
    background: #0066FF;
    color: white;
    font-size: 19px;
    border-radius: 55px;
    margin-top: 20px;
}

button:hover {
    cursor: pointer;
}

body ul {
    list-style-type: none;
}

.chechboxes {
    margin-top: -25px;
    margin-left: -50px;
    /* yleobaa bratci */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: auto;
    gap: 15%;
}

.chechboxes label {
    font-size: 15px;
}