body {
    width: 400px;
    height: 600px;
    font-family: 'Lekton', sans-serif;
    margin:0 auto;
}

.lvl{
    margin-top: -20px;
}

h3{
    margin-top: -5px;
    color: gold;
    font-size: 40px;
}

.teamBtns{
    margin-top: -15px;
}

button{
    width: 346px;
    height: 48px;
    background: #0066FF;
    color: white;
    font-size: 19px;
    border-radius: 55px;
    margin-top: 20px;
}

button:hover{
    cursor: pointer;
}